@{
    ViewData["Title"] = " Customer Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@using System.Data
@model DataTable
@using CarChoice.Areas.Customer.Models;


<main id="main" class="main ">

    <section class="section profile justify-content-center;">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body  pt-3 d-flex flex-column align-items-center">

                        <img src=@Url.Content(@Model.Rows[0]["CustomerImageURL"].ToString()) alt="Profile" class="img-thumbnail" style=" border-radius: 10%; height:130px; width:150px;" />
                        <h3 style="font-size:large; font-weight:500">@Model.Rows[0]["FirstName"]  @Model.Rows[0]["LastName"]</h3>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>


                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <h4 class="card-title">Profile Details</h4>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label " style=" color:black;">Full Name</div>
                                    <div class="col-lg-8 col-md-8 " style=" color:black;">@Model.Rows[0]["FirstName"]</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label" style=" color:black;">LastName</div>
                                    <div class="col-lg-8 col-md-8" style=" color:black;">@Model.Rows[0]["LastName"]</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label" style=" color:black;">Email</div>
                                    <div class="col-lg-8 col-md-8" style=" color:black">@Model.Rows[0]["Email"]</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label" style=" color:black;">User Name</div>
                                    <div class="col-lg-8 col-md-8" style=" color:black">@Model.Rows[0]["UserName"]</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label" style=" color:black;">Mobile</div>
                                    <div class="col-lg-8 col-md-8" style=" color:black;">@Model.Rows[0]["Mobile"]</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label" style=" color:black;">Address</div>
                                    <div class="col-lg-8 col-md-8" style=" color:black;">@Model.Rows[0]["Address"]</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label" style=" color:black;">LicenceNumber</div>
                                    <div class="col-lg-8 col-md-8" style=" color:black;">@Model.Rows[0]["LicenceNumber"]</div>
                                </div>

                                <div class=" row d-flex justify-content-center">
                                    <div class="col-3 ms-4 justify-content-center">
                                        <form method="post" asp-area="Customer" asp-controller="Customer" asp-action="Back">
                                            <button type="submit" class="btn btn-primary" value="Detals">Back</button>
                                        </form>
                                    </div>

                                   

                                </div>

                            </div>




                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>



</main><!-- End #main -->
@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@