@{
    ViewData["Title"] = "Brand List";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using System.Data
@model DataTable
@using CarChoice.Areas.Brand.Models


<main id="main" class="main">
    <div class="pagetitle">
        <h1>Brands</h1>
        <nav>
            <div class="Row">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i></a></li>
                <li class="breadcrumb-item"><a asp-controller="Brand" asp-action="BrandList">Brand List</a></li>
            </ol> 
            </div>
            
        </nav>
    </div><!-- End Page Title -->
    <div class="m-2">
        <form class="row g-3" method="post">

            <div class="d-flex justify-content-between align-items-center">

                <div>
                    <a asp-area="Brand" asp-controller="Brand" asp-action="BrandAddEdit" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i>&nbsp;Add Brand</a>
                </div>
            </div>
        </form>
    </div>

<table class="table table-hover table-header-fixed">
    <thead>
        <tr>
                <th scope="col">Brand Logo</th>

            <th scope="col">Brand Name</th>
            <th class="text-center">Created</th>
            <th class="text-center">Modified</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody id="sample_2">
        @foreach (DataRow dataRow in Model.Rows)
        {
            <tr>
                    <td><img src=@Url.Content(@dataRow["BrandLogo"].ToString()) class="img-thumbnail" style=" border-radius: 50%; height:80px; width:80px;" /></td>

                <td>@dataRow["BrandName"]</td>
                <td class="text-center">@Convert.ToDateTime(dataRow["Created"]).ToString("dd-MM-yyyy")</td>
                <td class="text-center">@Convert.ToDateTime(dataRow["Modified"]).ToString("dd-MM-yyyy")</td>
                <td class="text-center">
                       
                            <div class="me-2">
                            <form method="post" asp-area="Brand" asp-controller="Brand" asp-action="BrandAddEdit">
                                    <input type="hidden" value="@Convert.ToInt32(dataRow["BrandID"].ToString())" name="BrandID" />
                                    <button type="submit" class="btn btn-warning" value="Detals">Edit</button>
                                </form>
                            </div>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
</main>
@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@