@{
    ViewData["Title"] = "Customer List";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using System.Data
@model DataTable
@using CarChoice.Areas.Customer.Models
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Reservation List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i></a></li>
                <li class="breadcrumb-item"><a asp-controller="Car_User" asp-area="Car_User" asp-action="Admin_ReservationView">Reservation List</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div style="overflow:scroll ">
        <table class="table table-bordered table-hover ">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Customer ID</th>
                    <th scope="col" class="text-center">Car Name</th>
                    <th scope="col" class="text-center">Brand Name</th>
                    <th scope="col" class="text-center">From Date</th>
                    <th scope="col" class="text-center">To Date</th>
                    <th scope="col" class="text-center">Total Fare</th>
                    <th scope="col" class="text-center"> Booking Status</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>

            <tbody id="sample_2">
                @foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        <td class="text-center">@dr["CustomerID"]</td>
                        <td class="text-center">@dr["CarName"]</td>
                        <td class="text-center">@dr["BrandName"]</td>
                        <td class="text-center">@dr["PickupDate"]</td>
                        <td class="text-center">@dr["ReturnDate"]   </td>
                        <td class="text-center">@dr["TotalCost"]</td>
                        <td class="text-center">@dr["Status"]</td>

                        <td class="justify-content-center text-center">
                            <div class="d-flex justify-content-center">
                                <div class="me-2">
                                    <form asp-area="Car_User" asp-controller="Car_User" asp-action="Approval" asp-route-CarID="@Convert.ToInt32(dr["CarID"])" asp-route-Email="@dr["Email"].ToString() " onclick="fun2()">
                                        @if (Convert.ToInt32(dr["StatusID"].ToString()) == 2)
                                        {
                                            <input type="hidden" value="@Convert.ToInt32(dr["CustomerID"].ToString())" name="CustomerID" />
                                            <button type="submit" class="btn btn-success" disabled value="Detals">Appprove</button>
                                        }
                                        else
                                        {
                                            <input type="hidden" value="@Convert.ToInt32(dr["CustomerID"].ToString())" name="CustomerID" />
                                            <button type="submit" class="btn btn-success" value="Detals">Appprove</button>
                                        }

                                    </form>
                                </div>
                                <div class="ms-2">
                                    <form asp-area="Car_User" asp-controller="Car_User" asp-action="Denied" asp-route-CarID="@Convert.ToInt32(dr["CarID"])" asp-route-Email="@dr["Email"].ToString()" onclick="fun1()">
                                        <input type="hidden" value="@Convert.ToInt32(dr["CustomerID"].ToString())" name="CustomerID" />
                                        <button type="submit" class="btn btn-danger" value="Detals">Denied</button>
                                  </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</main>

@section Scripts{
    <script>
        function fun1() {
            if (confirm("Are you sure you want to Reject?")) {
                return true;
            }
            else {
                return false;
            }
        }

        function fun2() {
           alert("Booking Details sent to Customer");
           
           
           
        }
    </script>
}