@{
    ViewData["Title"] = "Fuel List";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using System.Data
@model DataTable
@using CarChoice.Areas.Fuel.Models


<main id="main" class="main">
    <div class="pagetitle">
        <h1>Fuel</h1>
        <nav>
            <div class="Row">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i></a></li>
                    <li class="breadcrumb-item"><a asp-controller="Fuel" asp-area="Fuel" asp-action="FuelList">Fuel List</a></li>

                </ol>

            </div>
        </nav>
    </div><!-- End Page Title -->
    <div class="m-2">
        <form method="post"  class="row g-3">

            <div class="d-flex justify-content-between align-items-center">

                <div>
                    <a asp-area="Fuel" asp-controller="Fuel" asp-action="FuelAddEdit" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i>&nbsp;Add Fuel</a>
                </div>
            </div>
        </form>
    </div>
    <div style="overflow:scroll ">
        <table class="table table-hover table-bordered table-header-fixed">
        <thead>
            <tr>
                    <th scope="col" class="text-center">Fuel Id</th>

                    <th scope="col" class="text-center">Fuel Type</th>
                    <th scope="col"  class="text-center">Created</th>
                    <th scope="col" class="text-center">Modified</th>
                    <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody id="sample_2">
            @foreach (DataRow dataRow in Model.Rows)
            {
                <tr>
                    <td class="text-center">@dataRow["FuelID"]</td>
                     <td class="text-center">@dataRow["FuelType"]</td>
                    <td class="text-center">@Convert.ToDateTime(dataRow["Created"]).ToString("dd-MM-yyyy")</td>
                    <td class="text-center">@Convert.ToDateTime(dataRow["Modified"]).ToString("dd-MM-yyyy")</td>
                    <td class="justify-content-center">
                            <div class="d-flex justify-content-center">
                            <div class="me-3">
                                <form method="post" asp-area="Fuel" asp-controller="Fuel" asp-action="FuelAddEdit">
                                    <input type="hidden" value="@Convert.ToInt32(dataRow["FuelID"].ToString())" name="FuelID" />
                                    <button type="submit" class="btn btn-warning" value="Detals">Edit</button>
                                </form>
                            </div>
                        <div class="ms-3">
                            <form asp-area="Fuel" asp-controller="Fuel" asp-action="FuelDelete">
                                <input type="hidden" value="@Convert.ToInt32(dataRow["FuelID"].ToString())" name="FuelID" />
                                <button type="submit" class="btn btn-danger" value="Detals">Delete</button>
                            </form>
                        </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</main>

@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@
